html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #2e3034;
}

.bg_btc {
  top: 25px;
  right: 0;
  position: absolute;
  background-image: url("../assets/btc_logo.png");
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  animation: cascata 4s linear infinite;
}

.bg_eth {
  opacity: 50%;
  bottom: 0px;
  left: 0;
  position: absolute;
  background-image: url("../assets/eth_logo.png");
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  animation: abduzir 4s linear infinite;
}

@keyframes cascata {
  from {
    top: -200px;
  }
  to {
    top: 700px;
  }
}
@keyframes abduzir {
  from {
    top: 700px;
  }
  to {
    top: -200px;
  }
}

.detail_radius {
  margin: auto;
  margin-top: -18vw;
  background: linear-gradient(#2e3034, #2e3034) padding-box,
    linear-gradient(to right, #4c21ac, #f18cf4) border-box;
  border: 50px solid transparent;
  border-radius: 50em;
  width: 22vw;
  height: 22vw;
}

.conteiner_login {
  max-width: 1000px;
  padding: 30px;
  margin: auto;
  text-align: center;
}

.conect_title {
  padding: 10px;
  color: white;
  font-size: 3vw;
  display: inline;

  border-bottom: 10px solid;
  border-image: linear-gradient(
    to right,
    #4c21ac,
    #f18cf4
  ); /* Substitua as cores conforme necessário */
  border-image-slice: 1;
}

.conect_title h2 {
  font-size: 4vw;
  display: inline;
  color: #792cec;
}
p.frase{
  margin: auto;
  margin-top: 60px;
  color: white;
  max-width: 80%;
  font-size: 20px;

}
/*CSS SECTION DE COTAÇÕES DA PAG DE LOGIN*/

.price_section{
  position: relative;
  z-index: 100;
  width: 100%;
  background-color: #313236;
}

.price_content{
  position: relative;
  top: 35px;
  max-width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 15px;
  color: white;
}

.price_title{
  padding-top: 20px;
  margin: auto;
  width: 30%;
  height: 100px;
  border-radius: 10%;
  box-shadow: 2px 2px 5px black;
}

.price_table{
  margin: auto;
  margin-top: 30px;
  width: 80%;
  height: 500px;
}

.price_table h1{
  font-size: 20px;
}

.w33{
  display: inline-block;
  width: 33%;
  border-bottom: 2px solid rgb(27, 26, 26);
}

.cripto{
  text-align: left;
  font-size: 16px;
  padding: 10px 0;
}
.up{
  color: green;
}
.down{
  color: red;
}
.call_to_action{
  font-size: 18px;
  width: 230px;
  max-width: 80%;
  padding: 8px 12px;
  background-color: #4c21ac;
  color: white;
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
}
.call_to_action:hover{
  background-color: #792cec;
}
.call_to_action h1{
  color: white;
  font-size: 20px;
}

.pop_up{
  z-index: 500;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 40%;
  background-color: #313236;
  box-shadow: 2px 2px 10px black;
  animation: open 0.5s;
}
.closed{
  animation: closed 0.5s;
}
@keyframes open{
  from{
    width: 0;
    height: 0;
    opacity: 0;
  }
  to{
    width: 40%;
    height: 400px;
    opacity: 100%;
  }
}
@keyframes closed{
  from{
    opacity: 100%;
  }
  to{
    opacity: 0;
  }
}
.header_pop_up{
  display: flex;
  width: 100%;
}
.header_pop_up p{
  color: white;
  margin: auto;
  margin-top: 20px;
  font-size: 25px;
}
.xis{
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: 2%;
}

.blur{
  filter: blur(10px);
}

.connect_popup{
  width: 90%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  align-items: center;
  text-align: center;
}

p.or{
  position: relative;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 100;
}
.form{
  position: absolute;
  width: 90%;
  left: 5%;
  padding: 30px 0;
}
.form input[type="text"]{
  padding: 0 8px;
  width: 50%;
  background-color: #27282b;
  font-size: 16px;
  height: 35px;
  color: white;
  border: 0;
}
.form input[type="submit"]{
  width: 28%;
  font-size: 16px;
  margin-left: 10px;
  height: 35px;
  color: rgb(151, 149, 149);
  background-color: #222325;
  border: 0;
  cursor: pointer;
}
.form input[type="text"]:focus{
  outline: none;
}
@media screen and (max-width: 780px) {
  .detail_radius {
    border: 25px solid transparent;
    margin-top: -20vw;
    width: 35vw;
    height: 35vw;
  }
  .conect_title {
    font-size: 6vw;
  }
  .conect_title h2 {
    font-size: 6vw;
  }

  .bg_btc {
    width: 200px;
  }
  .bg_eth {
    width: 200px;
  }

  .price_title{
    width: 65%;
  }

  .price_table h1{
    font-size: 15px;
  }

  .cripto{
    font-size: 13px;
    padding: 5px 0;
  }
  .pop_up{
    width: 80%;
  }
  .pop_up p{
    font-size: 18px;
  }
}
