html, body {
    height: 100%;
  }
  
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:#2E3034;
  }

.bg_btc{
    top: 25px;
    right: 0;
    position: absolute;
    background-image: url('btc_logo.png');
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .detail_radius{
    margin: auto;
    margin-top: -18vw;
    background: linear-gradient(#2E3034, #2E3034) padding-box, linear-gradient(to right, #4c21ac, #f18cf4) border-box;
    border: 50px solid transparent;
    border-radius: 50em;
    width: 22vw;
    height: 22vw;
}

.conteiner_login{
    max-width: 1000px;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.conect_title{
    padding: 10px;
    color: white;
    font-size: 3vw;
    display: inline;

    border-bottom: 10px solid;
    border-image: linear-gradient(to right, #4c21ac, #f18cf4); /* Substitua as cores conforme necessário */
    border-image-slice: 1;
  }

.conect_title h2{
    font-size: 4vw;
    display: inline;
    color: #792cec;
  }
.metamask-btn{
  margin: auto;
  width: 260px;
  height: 140px;
  cursor: pointer;
}
.metamask_logo{
  margin: auto;
  margin-top: 50px;
  width: 110px;
  height: 110px;
  background-image: url('metamask.png');
  background-repeat: no-repeat;
  background-size: contain;
}
p.metamask_title{
  margin-top: -8px;
  color: white;
  font-size: 20px;
}
.metamask-btn:hover{
  box-shadow: 2px 2px 5px black;
}

.form{
  margin: auto;
  width: 800px;
  height: 100px;
  margin-top: 30px;
}
.form input[type="text"]{
  width: 300px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #4c21ac;
  padding: 8px;
  border: 0;
  color: white;
}

.form input[type="submit"]{
  border: 0;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  padding: 8px;
  color: white;
  background-color: #f18cf4;
}
@media screen and (max-width:750px){
    .detail_radius{
        border: 25px solid transparent;
        margin-top: -20vw;
        width: 35vw;
        height: 35vw;
    }
    .conect_title{
        font-size: 6vw;
    }
    .conect_title h2{
        font-size: 6vw;
    }
}