html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #2e3034;
}

.bg_btc {
  top: 25px;
  right: 0;
  position: absolute;
  background-image: url("../assets/btc_logo.png");
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  animation: cascata 4s linear infinite;
}

.bg_eth {
  opacity: 50%;
  bottom: 0px;
  left: 0;
  position: absolute;
  background-image: url("../assets/eth_logo.png");
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  animation: abduzir 4s linear infinite;
}

@keyframes cascata {
  from {
    top: -200px;
  }
  to {
    top: 700px;
  }
}
@keyframes abduzir {
  from {
    top: 700px;
  }
  to {
    top: -200px;
  }
}

.detail_radius {
  margin: auto;
  margin-top: -18vw;
  background: linear-gradient(#2e3034, #2e3034) padding-box,
    linear-gradient(to right, #4c21ac, #f18cf4) border-box;
  border: 50px solid transparent;
  border-radius: 50em;
  width: 22vw;
  height: 22vw;
}

.conteiner_login {
  max-width: 1000px;
  padding: 30px;
  margin: auto;
  text-align: center;
}

.conect_title {
  padding: 10px;
  color: white;
  font-size: 3vw;
  display: inline;

  border-bottom: 10px solid;
  border-image: linear-gradient(
    to right,
    #4c21ac,
    #f18cf4
  ); /* Substitua as cores conforme necessário */
  border-image-slice: 1;
}

.conect_title h2 {
  font-size: 4vw;
  display: inline;
  color: #792cec;
}
.metamask-btn {
  margin: auto;
  width: 260px;
  height: 140px;
  cursor: pointer;
}
.metamask_logo {
  margin: auto;
  margin-top: 50px;
  width: 110px;
  height: 110px;
  background-image: url("../assets/metamask.png");
  background-repeat: no-repeat;
  background-size: contain;
}
p.metamask_title {
  margin-top: -8px;
  color: white;
  font-size: 20px;
}
.metamask-btn:hover {
  box-shadow: 2px 2px 5px black;
}

.form {
  margin: auto;
  max-width: 800px;
  height: 100px;
  margin-top: 30px;
}
.form input[type="text"] {
  max-width: 60%;
  width: 300px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #4c21ac;
  padding: 8px;
  border: 0;
  color: white;
}

.form input[type="submit"] {
  max-width: 30%;
  border: 0;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  padding: 8px;
  color: white;
  background-color: #f18cf4;
}


/*CSS SECTION DE COTAÇÕES DA PAG DE LOGIN*/

.price_section{
  position: relative;
  z-index: 999;
  width: 100%;
  background-color: #313236;
}

.price_content{
  position: relative;
  top: 35px;
  max-width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 15px;
  color: white;
}

.price_title{
  padding-top: 20px;
  margin: auto;
  width: 30%;
  height: 100px;
  border-radius: 10%;
  box-shadow: 2px 2px 5px black;
}

.price_table{
  margin: auto;
  margin-top: 30px;
  width: 80%;
  height: 500px;
}

.price_table h1{
  font-size: 20px;
}

.w33{
  display: inline-block;
  width: 33%;
  border-bottom: 2px solid rgb(27, 26, 26);
}

.cripto{
  text-align: left;
  font-size: 16px;
  padding: 10px 0;
}
.up{
  color: green;
}
.down{
  color: red;
}

@media screen and (max-width: 750px) {
  .detail_radius {
    border: 25px solid transparent;
    margin-top: -20vw;
    width: 35vw;
    height: 35vw;
  }
  .conect_title {
    font-size: 6vw;
  }
  .conect_title h2 {
    font-size: 6vw;
  }

  .bg_btc {
    width: 200px;
  }
  .bg_eth {
    width: 200px;
  }

  .price_title{
    width: 65%;
  }

  .price_table h1{
    font-size: 15px;
  }

  .cripto{
    font-size: 13px;
    padding: 5px 0;
  }
}
